In [1]:
from iotdb.Session import Session

In [2]:
ip = "172.16.32.226"
port_ = "6667"
username_ = "root"
password_ = "root"

In [3]:
session = Session(ip, port_, username_, password_)

In [4]:
session.open(False)

In [5]:
zone = session.get_time_zone()

In [6]:
sql = "select p2 from root.iot_device_BIT_fan.ycfjA where time >= 1676541007620  order by time desc limit 10"

In [7]:
result = session.execute_query_statement(sql)

In [8]:
df = result.todf()

In [9]:
df['Time'] = df['Time'].map(lambda x: int(x/1000))

In [9]:
df

            Time  root.iot_device_BIT_fan.ycfjA.p2
0  1676884636974                             661.0
1  1676884631974                             693.8
2  1676884626973                             671.3
3  1676884621972                             664.3
4  1676884616972                             694.7
5  1676884611971                             648.0
6  1676884606970                             661.8
7  1676884601969                             685.1
8  1676884596969                             680.2
9  1676884591968                             637.1

In [72]:
df.groupby('Time').first().reset_index()

,Time,root.iot_device_BIT_fan.ycfjA.p1,root.iot_device_BIT_fan.ycfjA.p2,root.iot_device_BIT_fan.ycfjA.p3
0,1676541007,146.5,644.0,664.1
1,1676541012,143.2,640.9,659.0
2,1676541017,148.3,696.2,627.0